[submodule "ext_libs/imgui"]
	path = ext_libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext_libs/spdlog"]
	path = ext_libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext_libs/glm"]
	path = ext_libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext_libs/glfw"]
	path = ext_libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext_libs/entt"]
	path = ext_libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
